@model UniTrak.Models.Student
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<hr />
<p><b>Id</b>: @Model.Id</p>
<p><b>Name</b>: @Model.Name</p>
<p><b>Gender</b>: @Model.Gender</p>
<p><b>Matriculation Number</b>: @Model.MatriculationNumber</p>
<p><b>Account Type</b>: @Model.MembershipType.Name @(Model.MembershipType.Name == "Pay As You Go" ? "" : "- " + @Model.MembershipType.DurationInMonths.ToString() + " Month(s)")</p>
@if (@Model.DoB.HasValue)
{
    <p><b>Date of Birth</b>: @Model.DoB.Value.ToShortDateString()</p>
}
<p><b>Subscription to newsletter status</b>: @Model.IsSubscribedToNewsletter</p>
