@model UniTrak.Models.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Code: @Model.Title</h2>
<hr />

<p><b>Id</b>: @Model.Id</p>
<p><b>Credit Value</b>: @Model.CreditValue</p>
<p><b>Category</b>: @Model.CategoryType.Name</p>
<p><b>Date Added</b>: @Model.DateAdded.ToString("D")</p>